// Define variables for your color scheme
// For example:

$red: rgb(190, 73, 79);
$blue: rgb(149, 207, 216);
$brown: rgb(216, 188, 167);
$dark-blue: rgb(15, 20, 34);
$green:  rgb(37, 136, 90);
$orange: rgb(230,126,34);
$gray: rgb(14,0,0);
$light-gray: rgb(244,244,244);
$yellow: rgb(211, 243, 26);
