body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url('gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}
body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  padding-bottom: 100px; // Ajusta esto según la altura de tu pie de página
}

// Specific CSS for your home-page
.inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.box img {
  width: 43.5vw;// 50% del ancho de la ventana
  height: auto; // mantener la proporción de la imagen
}
.cloudlogo{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.cloudlogo img{
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  right: 0;
}

.slogan {
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: $brown;
  padding: 20px;
  padding-top: 26px;
}

.login{
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: transparent;
  border-radius: 50px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

.right-home1{
  height: 100vh;
}

.left-home1{
  height: 100vh;
}

.register{
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 22px;
  margin-top: 4px;
  padding: 23.5px;

}

.description{
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: $brown;
  padding: 20px;
  padding-top: 26px;
  margin-bottom: 22px;
}

.cachy{
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: $dark-blue;
  padding: 20px;
  margin-top: 22px;
  padding-top: 26px;
}

.precios{
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.precios img{
  width: 95vw;
  height: auto;
  border-radius: 20px;
  border: 3px solid black
}

.comparacion{
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comparacion img{
  width: 95vw;
  height: auto;
  border-radius: 20px;
  border: 3px solid black
}
