 <div class="border-1 border-top border-primary">
   <div class="footer">
  <div class="footer-links">
    <a href="http://cloudcloset.tech/"><i class="fab fa-github"></i></a>
    <a href="http://cloudcloset.tech/"><i class="fab fa-instagram"></i></a>
    <a href="http://cloudcloset.tech/"><i class="fab fa-facebook"></i></a>
    <a href="http://cloudcloset.tech/"><i class="fab fa-twitter"></i></a>
    <a href="http://cloudcloset.tech/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © 2024 Copyright of CloudCloset, a Delaware C-Corp ©
  </div>
</div>
          </div>
        </div>
