
<div class="d-flex">
  <div class="left-home1 d-flex col-6 flex-column">
    <div class="box col 12">
      <%= image_tag("thebox.png", alt: "bigBox") %>
    </div>
  </div >
  <div class="right-home1 col-6">
    <div class="cloudlogo col-12 ">
      <%= image_tag("cloudcloset.png", alt: "cloudcloset") %>
    </div>
    <div class="sign-forms">
      <div>
        <div class="row d-flex justify-content-center">
          <div class="login col-9">
          <%= render "devise/sessions/new" %>
          </div>
        </div>
      </div>
    </div>
    <div class="register btn btn-lg btn-danger shadow">
      <%= link_to "Register", new_user_registration_path, class:"text-white text-decoration-none" %>
    </div>
    <div class="description text-white justify-content-center text-center shadow">
      <h5>Transform and empty room into a <strong>closet</strong> and generate income storing everyone items</h5>
    </div>
    <div class="slogan text-white justify-content-center text-center shadow">
      <h5>Your personal storage by <strong>item</strong> </h5>
    </div>
    <div class="cachy text-white shadow justify-content-center text-center">
      <h5>One <strong>box</strong> one <strong>dollar</strong> one <strong>day</strong></h5>
    </div>
  </div>
</div>
