//start profile-card
.start-profile{
  width: 100vw;
}
.profile-card{
  height: 150px;
  width: auto;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 20px;

}
.pc-pic{
  height: 150px;
  width: 150px;
  border-radius: 50px;
  overflow: hidden;
}
.pc-pic img{
  height: 100%;
  width: 100%;
}

.pc-name{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.full-name{
  color: $blue;
  font-weight: bold;
}

.pc-info{
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 12px;
  margin-right: 20px;
}

.pc-info p{
  margin-top: 5px;
  margin-bottom: 5px;
}
//end profile-card
//logo
.cloudhost{
  margin-top: 20px;
  width: auto;
  height: 150px;
  border-radius: 50px;
}

.cloudhost img{
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
//logo end
//start current-booking
.booking-title{
  margin: 0;
  margin-top: 20px;
}

.bookings-card{
  height: auto;
  border-radius: 50px;
}
.bc-closet-name{
  border-radius: 50px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.deliverys{
  height: auto;
  margin-top: 15px;
  background-color: white;
  padding: 20px;
  padding-left: 30px;
  border-radius: 50px;
}

.listitems{
  height: auto;
  margin-top: 25px;
  background-color: white;
  padding: 20px;
  padding-left: 30px;
  border-radius: 50px;

}

.badge{
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.item-creation-form{
  border-radius: 50px;
  height: 650px;
  width: auto;
}

.continue-booking{
  font-size:larger
}


