//start profile-card
.profile-card{
  height: 150px;
  width: auto;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

}
.pc-pic{
  height: 150px;
  width: 150px;
  border-radius: 50px;
  overflow: hidden;
}
.pc-pic img{
  height: 100%;
  width: 100%;
}

.pc-name{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.full-name{
  color: $blue;
  font-weight: bold;
}

.pc-info{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 12px;
  margin-right: 20px;
}

.pc-info p{
  margin-top: 5px;
  margin-bottom: 5px;
}

















//end profile-card
.card-product {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 130px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}
