.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.always-show-map-container {
  position: sticky !important;
  height: 700px !important;
  width: 100% !important;
  border-radius: 20px !important;
  top: 10px;
}
